@import "colors";

body {
  color: $primary-text-color;
  background: #f3f3f39;
  background-image: image-url("background.jpg");
  font-family: "Helvetica Neue", Helvetica, Arial;
}
#punchtime-section {
  border: solid;
  margin-top: 5%;
  padding: 5%;
}
header#page-header {
  background-color: white;
  padding: 0px 25px;

  h1 a {
    height: 0px;
    padding-top: 60px;
    font-family: "Esteban", sans-serif;
    color: #237CBE;
    text-decoration: none;
    overflow: hidden;
    &:hover {
      background: none;
    }
  }


  a.button {
    margin-left: 10px;
    border-color: $subdued-color;
    &:hover {
      background-color: #3E9644;
      color: #fff;
      border-color: #000;
      text-decoration: none;
    }
  }

  div#masthead {
    margin: 0 auto;
    width: 960px;
    position: relative;

    h1 {
      margin: 0;
      color: #fff;
      line-height: 60px;
    }

    nav {
      margin: 0;
      position: absolute;
      color: $subdued-color;
      top: 0;
      right: 0;
      height: 60px;
      a {
        color: $primary-link-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
      a.link {
        display: inline-block;
        border: 1px #c2c2c2 solid;
        border-radius: 4px;
        padding: 4px 6px;
        text-decoration: none;
      }
      a.button {
        background: #3E9644;
        color: $secondary-link-color;
        text-decoration: none;
      }
    }
  }
}

footer#page-footer {
  color: $secondary-text-color;
  padding: 20px 25px;

  p {
    text-align: center;
    margin-bottom: 10px;
  }

  a {
    color: $primary-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

div#wrapper {
  background: #f3f3f3;
  padding: 10px;
  min-height: 400px;
  overflow: hidden;
  div#container {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    section#content {
      width: 620px;
      h1 {
        margin: 0;
        padding: 0 0 20px 0;
      }
    }
  }
}

